[package]
name = "mineplace3d"
version = "0.1.0-beta"
edition = "2024"

[dependencies]

[profile.dev]
opt-level = 1
debug = true
debug-assertions = true
overflow-checks = true
incremental = true
codegen-units = 256

[profile.dev.package."*"]
opt-level = 3
